.carousel_img {
  width: 8rem;
  height: 8rem;
  border-radius: 10%;
}

@media (min-width: 825px) {
  .carousel_img .carousel_desc {
    width: 6rem;
    height: 6rem;
  }
}

@media (min-width: 1024px) {
  .carousel_img {
    width: 8rem;
    height: 8rem;
  }
}

@media (min-width: 1280px) {
  .carousel_img {
    width: 10rem;
    height: 10rem;
  }
}

@media (min-width: 1600px) {
  .carousel_img {
    width: 16rem;
    height: 16rem;
  }
}

.carousel_desc div {
  margin-top: 1rem;
}

.carousel_name {
  font-family: Montserrat-Medium;
  font-size: 15px;
}

.carousel_price {
  font-family: Montserrat-Regular;
  font-size: 15px;
}

.carousel_color_picker {
  display: flex;
  gap: 1rem;
}

.carousel_color_desc {
  font-family: Avenir;
  font-size: 12px;
}

.carousel_color_desc::first-letter {
  text-transform: capitalize;
}

.carousel_score {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.prd_score {
  font-family: Avenir;
  font-size: 14px;
}
